.button{
    max-width: 152px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 8px;
    padding: 17px 24px;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333136;
}