.header{
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1111px;
        padding: 64px 20px;

    }
    &__logo{
        padding: 64px 0px;
        flex-shrink: 0;
    }
}

@media only screen and (max-width:1118px){
    .header{
        &__container{
            max-width: 689px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media only screen and (max-width:542px){

   .header{
        &__container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__link-logo{
            flex-shrink: 0;
        }
   }
}