.nav {

    &__list{
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__link{
        text-decoration: none;
        font-family: Jost;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 2px;
        color: #333136;
    }

    &__item + &__item{
        margin-left: 42px;
    }
}